@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

/*banner, profile info, about me styling */
.border {
    
    border-style:solid;
    border-color:  #E2E2E2;
    border-width: 1px;
    border-radius: 15px;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 40px;
    
}

.top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height:auto;
    width:100%
}

.topleft {
    display: flex;
}

.topright {
    display: flex;
    justify-content: flex-end; 
}

.edit {
    vertical-align: top;
    cursor: pointer;
    background-color: #2C31ED;
    font-family: 'NATS', sans-serif;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-bottom: 64px;
    text-decoration: none;
}

.aboutMe {
    padding: 20px;
}

.profileText {
    line-height: 1.75;
    padding-left: 20px;
}

.bannerPicture {
    width: 100%;
    height: 100px;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden; 
    padding:0;
}

.topText {
    vertical-align: top;
}

.profileTextHeader {
    font-family: 'Konkhmer Sleokchher', sans-serif;
    font-size: 15pt;
    margin:0;
    padding: 0;
    text-align: left;
}

.profileSkillHeader {
    font-family: 'Konkhmer Sleokchher', sans-serif;
    font-size: 20pt;
    margin-top: 30px;
    padding: 0;
    text-align: center;
}
p {
    font-family: 'NATS', sans-serif;
    font-size: 18px;
    padding:0;
    margin:0;
    line-height: 1.5;
}
.pfp {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

/*header styling*/
.title {
    margin-left: 5%;
    margin-top: 30px;
}

/* teaching card styling */
.teachingCard {
    display: flex;
    flex-direction: column;
    align-items: left; 
    width: 100%;
    max-width: 300px; 
    margin: 20px; 
    background-color: #fff; 
    border-radius: 10px; 
}


.descriptionText {
    margin:0;
    padding: 20px;
    padding-top: 0px;
    line-height: 1.5;
    flex-grow: 1;
}

h6 {
    margin: 0;
    vertical-align: baseline;
}


.teachingCardText {
    line-height: 0;
}


.center {
    text-align: center;
}

/* form css */
label {
    font-size: 15px;
    display:block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
}

input {
    display: block;
    width:100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 12px;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 80px;
    max-height: 150px;
}

.submitButton {
    padding: 6px 15px;
    border-radius: 6px;
    margin-top: 15px;
    border:none;
    background-color: #2C31ED;
    color: white;
    cursor: pointer;
    width: 20%;
}


.form {
    width:70%;
}

.margin0px{
    margin-bottom:0px;

}

.alignLeft {
    text-align: left;
}

.marginLeft15 {
    margin-left: 15%;
    padding-left: 15px;
}

@media only screen and (min-width: 600px) {
    .box {
        width: calc(33.33% - 20px); 
    }
  }
  
  @media only screen and (min-width: 900px) {
    .box {
        width: calc(20% - 20px); 
    }
  }