@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: block;
    flex-direction: column;
    /* margin-top: 80%; */
    /* margin: auto; */
    /* margin-top: 200px; */
}

.redirect {
    font-size: 12pt;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.header {
  font-size: 26pt;
  font-weight: 600;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.inputs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    height: 44px;
    background: #ffffff;
    border: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
}

.input input {
    height: 25px;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-weight: 600;
    font-family: "Work Sans";
    font-size: 12pt;
}

.submit-container {
    display: flex;
    /* gap: 30px; */
    margin-top: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 44px;
    color: #ffffff;
    background: #2C31ED;
    border-style: solid;
    border-color: #2C31ED;
    border-radius: 8px;
    border-width: 2px;
    font-size: 12pt;
    font-weight: 600;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.submit:hover {
    background: #150080;
    border-color: #150080;
}

.submit-google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 44px;
    color: #000000;
    background: #FFFFFF;
    border-style: solid;
    border-color: #E2E2E2;
    border-radius: 8px;
    border-width: 1px;
    font-size: 12pt;
    font-weight: 600;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.submit-google:hover {
    background: #EEEEEE;
}

.link {
    text-decoration: none;
    color: #2C31ED;
    transition: all .15s ease-in-out;
}

.link:hover {
    color: #150080;
}

.google-icon {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 10px;
}