@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

/*NAV BAR CSS */
@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*.c {
    font-family: 'Work Sans';
}



/* home page css*/
:root {
    --light: #DCDFFF;
    --dark: #291B71;
    --medium: #6266FA;
  }

h1.c {
    font-size: 50px;
    color: var(--medium2);
    text-align: center;
    padding-top: 40px;
    line-height: 1.25;
}

.h2c {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    margin:0;
}

h3.c {
    text-align: center;
  }

h4.c {
    font-size: 30px;
    text-align: center;
    margin:0;
    padding-bottom: 80px;
}


.mediumBackground.c {
    background-color: var(--medium);
}

.darkBackground.c {
    background-color: var(--dark);
}


.white.c {
    color: #FFFFFF;
}

.white.a {
    color: #FFFFFF;
    font-weight: 550;
}



/* PROFILE PAGE CSS
banner, profile info, about me styling */
.border.c {
    
    border-style:solid;
    border-color:  #E2E2E2;
    border-width: 1px;
    border-radius: 15px;
    margin-left:8%;
    margin-right: 8%;
    margin-top: 40px;
    
}

.top.c {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height:auto;
    width:100%
}

.topleft.c {
    display: flex;
}

.topright.c {
    display: flex;
    justify-content: flex-end; 
}

.bottom.c {
    display: flex;
    height: 100%;
}

.bottomleft.c {
    display: flex;
}

.bottomright.c {
    align-items: flex-end;
}

.edit.c {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90px;
    height: 40px;
    cursor: pointer;
    background-color: #2C31ED;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 12pt;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 64px;
    text-decoration: none;
    transition: all ease 0.15s;
}

.edit.c:hover {
    background-color: #291B71;
}

.aboutMe.c {
    padding: 20px;
    margin-bottom: 10px;
}

.profileText.c {
    line-height: 1.75;
    padding-left: 20px;
}

.bannerPicture.c {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    object-position: 0% 65%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden; 
    padding: 0;
}

.topText.c {
    vertical-align: top;
}

.profileTextHeader.c {
    font-size: 15pt;
    margin:0;
    padding: 0;
    text-align: left;
    font-weight: bold;
}

.profileSkillHeader.c {
    font-size: 20pt;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

.pc {
    font-family: 'NATS', sans-serif;
    font-size: 18px;
    padding:0;
    margin:0;
    line-height: 1.5;
}

.pfp.c {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

/*header styling*/
.title.c {
    margin-left: 5%;
    margin-top: 30px;
}

/* teaching card styling */
.teachingCard.c {
    display: flex;
    flex-direction: column;
    align-items: left; 
    width: 100%;
    max-width: 300px; 
    margin: 11px; 
    background-color: #fff; 
    border-radius: 10px; 
}


.descriptionText.c {
    margin:0;
    padding: 20px;
    padding-top: 0px;
    line-height: 1.5;
    flex-grow: 1;
}

h6.c {
    margin: 0;
    vertical-align: baseline;
}


.teachingCardText.c {
    line-height: 0;
}


.center.c {
    text-align: center;
}

.loading.a {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 32pt;
    font-weight: 600;
    padding-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

/* form css */
label.c {
    font-size: 15px;
    display:block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
}

input.c {
    display: block;
    width:100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 12px;
}

textarea.c {
    display: block;
    width:100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 12px;
}


.submitButton.c {
    padding: 6px 15px;
    border-radius: 6px;
    margin-top: 15px;
    border:none;
    background-color: #2C31ED;
    color: white;
    cursor: pointer;
    width: 20%;
    height: auto;
    font-size: 15px;
}


.form.c {
    width:70%;
}

.margin0px.c{
    margin-bottom:0px;

}

.alignLeft.c {
    text-align: left;
}

.marginLeft15.c {
    margin-left: 15%;
    padding-left: 15px;
}

.formSubmitted.c {
    padding: 6px 15px;
    border-radius: 6px;
    margin-top: 15px;
    color: black;
    width: auto;
    height: auto;
    font-size: 15px;
}

/*CARD STYLING */

:root {
    --light: #DCDFFF;
    --dark: #291B71;
    --medium2: #2C31ED
  }


  .cards.c {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
  }

  .cards__items.c {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    width: 100%;
  }

  .card__item.c {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FFFFFF;
    margin: 15px;
    padding-bottom: 40px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .cards__item__info.c{
    padding: 15px;
  }

  .cards__item__text.c {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }


.noMargin.c{
    margin:0;
    padding: 0;
  }

.topBackground.c {
    display: flex;
    background-image: url('/public/images/background.svg');
    background-attachment: scroll; 
    background-size:cover;
    background-position: center;
    /* padding-top: 190px; */
}
.bottomBackground.c {
  width:100%;
  height: auto;
  margin:0;
  padding:0;
}

*.c {
  box-sizing: border-box; 
}

.container.c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.box.c {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  max-width: 200px; 
  margin: 20px; 
  background-color: #fff; 
  border-radius: 10px; 
  padding: 30px;
}

.box__img.c {
  width: 100%; 
  height: auto; 
}

.box__text.c {
  margin-top: 20px;
  text-align: center; 
  
  
}

.blackBackground.c {
    background-color: black;
}

.textCenter.c {
    text-align: center;
}

.topBottomPadding.c {
    padding-top: 10px;
    padding-bottom: 10px;
}

.topPadding.c {
    padding-top: 20px;
}

.padding10.c {
    padding: 10px 10px 10px 10px;
}


.top.c {
    display: flex;
    justify-content: space-between; /* Pushes elements to opposite sides */
    align-items: center;
}

.topleft.c {
    flex-grow: 1; /* Title will expand as much as possible */
}

.topright.c {
    text-align: right;
}



.bottom.c {
    display: flex;
    justify-content: space-between; /* Aligns Hours Taught and Delete icon to the left and right */
    align-items: center;
    margin-top: 10px;
    height: 40px;
}

.bottomright.c {
    cursor: pointer;
    color: red; /* Style for delete icon */
    align-self: flex-end;
    padding: 10px;
}

.bottomleft.c {
    padding-left: 20px;
}

.hoverEnlarge {
    animation-duration: 2s;
    transition: transform .3s ease-in-out;
}

.hoverEnlarge:hover {
    
    transform: scale(1.05);
    
}

.hoverEnlarge2 {
    animation-duration: 1s;
    transition: transform .3s ease-in-out;
}

.hoverEnlarge2:hover {
    
    transform: scale(1.25);
    
}

@media only screen and (min-width: 600px) {
  .box.c {
      width: calc(33.33% - 20px); 
  }
}

@media only screen and (min-width: 900px) {
  .box.c {
      width: calc(20% - 20px); 
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items.c {
      display: flex;
  }
}
  
@media only screen and (max-width: 1024px) {
  .cards__items.c {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    width: 70%;
  }

  }
