@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

:root {
    --light: #DCDFFF;
    --dark: #291B71;
    --medium: #6266FA;
  }

h1 {
    font-size: 50px;
    color: var(--medium);
    font-family: 'Konkhmer Sleokchher', sans-serif;
    text-align: center;
    padding-top: 40px;
    line-height: 1.25;
}

h2 {
    font-size: 40px;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    text-align: center;
    padding-top: 30px;
    margin:0;
}

h3 {
    text-align: center;
  }

h4 {
    font-size: 30px;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    text-align: center;
    margin:0;
    padding-bottom: 80px;
}


.mediumBackground {
    background-color: var(--medium);
}

.darkBackground {
    background-color: var(--dark);
}

.black {
    background-color: black;
}

.white {
    color: #FFFFFF;
}