@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

:root {
    --light: #DCDFFF;
    --dark: #291B71;
    --medium: #2C31ED
  }

h1 {
    font-size: 50px;
    color: var(--medium);
    font-family: 'Konkhmer Sleokchher', sans-serif;
    text-align: center;
    padding-top: 40px;
}

h2 {
    font-size: 40px;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    text-align: center;
    padding-top: 30px;
    margin:0;
}

h4 {
    font-size: 20px;
    font-family: 'Konkhmer Sleokchher', sans-serif;
    text-align: center;
}
