@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h3 {
    font-family: 'Work Sans';
    font-size: 16pt;
    font-weight: 600;
    text-align: left;
    position: relative;
}

.messages-header {
    display: flex;
    width: 100%;
    height: 80pt;
    font-family: 'Work Sans';
    font-size: 20pt;
    font-weight: 600;
    text-align: left;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: #E2E2E2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.container {
    left: 10%;
    right: 10%;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

.contacts-container {
    border-style: solid;
    border-color: #E2E2E2;
    border-radius: 25px;
    border-width: 1px;
    margin-top: 50px;
    top: 5%;
    left: 5%;
    padding: 30px;
    width: 28%;
    height: 85%;
    position: absolute;
}

.self-contact {
    display: flex;
    height: 80px;
    line-height: 7px;
    align-items: center;
}

.other-contacts-container {
    height: max-content;
    display: flex;
    margin-top: 7%;
    text-align: left;
}

.secondary-text {
    color: #150080;
    font-weight: 550;
    position: relative;
}

.messages-container {
    border-style: solid;
    border-color: #E2E2E2;
    border-radius: 25px;
    border-width: 1px;
    margin-top: 50px;
    top: 5%;
    right: 5%;
    padding: 30px;
    width: 60%;
    height: 85%;
    position: absolute;
}

.profile-picture {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    display: block;
}
