
:root {
    --light: #DCDFFF;
    --dark: #291B71;
    --medium: #2C31ED
  }


  .cards {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px;
  }

  .cards__items {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    width: 100%;
  }

  .card__item {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FFFFFF;
    margin: 15px;
    padding-bottom: 40px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .cards__item__info{
    padding: 20px;
  }

  .cards__item__text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }


  .statistic{
    margin:0;
    padding: 0;
  }

.topBackground {
    background-image: url('/public/images/background.png');
    background-attachment: scroll; 
    background-size:cover;
    background-position: center;
    padding-top: 190px;
}
.bottomBackground {
  width:100%;
  height: auto;
  margin:0;
  padding:0;
}

* {
  box-sizing: border-box; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  max-width: 200px; 
  margin: 20px; 
  background-color: #fff; 
  border-radius: 10px; 
  padding: 30px;
}

.box__img {
  width: 100%; 
  height: auto; 
}

.box__text {
  margin-top: 20px;
  text-align: center; 
}

@media only screen and (min-width: 600px) {
  .box {
      width: calc(33.33% - 20px); 
  }
}

@media only screen and (min-width: 900px) {
  .box {
      width: calc(20% - 20px); 
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
      display: flex;
  }
}
  
@media only screen and (max-width: 1024px) {
  .cards__items {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    width: 70%;
  }

  }